.payOrder {
    width: 1200px;
    margin: 0 auto 40px;
}

.center{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.headBigBox{
	height: 60px;
	width: 100%;
	/* background-color:gainsboro; */
}
.headBigBox .headCenter{
	height: 60px;
	width: 90%;
	margin: 0 auto;
	/* background-color: bisque; */
}
.headBigBox .duiaLogo{
	width: 215px;
	margin: 0 50px 0 0;
	float: left;
}
a{
	text-decoration: none;
	color: #333333;
}
button{
	border: none;
	outline: none;
}
.duiaLogo img{
	border: none;
	vertical-align: middle;
}
.headNav{
	float: left;
}
.headNav img{
	height: 60px;
	width: 480px;
	border: none;
}
.headNav .skuNavList{
	float: left;
	margin: 0 45px 0 0;
	line-height: 60px;
	color: #666;
}
.headBigBox .people{
	cursor: pointer;
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 500px;
	/* margin-right: 15px; */
	background: url(../img/xiazai.png) no-repeat;
	background-size: 70px 60px;
}
.userBox{
	float: right;
	margin-top: 20px;
}
.userBox .loginState{
	color: #666666;
	font-size: 14px;
}
.userBox .loginState .userName{
	float: left;
}
.float_1{
	color: #666666;
	float: left;
}
.userBox .loginState .loginOut{
	margin-left: 10px;
	cursor: pointer;
	float: left;
}












.pay-pro {
    height: 100px;
    background: #fff;
}
.pay-proCon {
    width: 520px;
    margin: 0 auto;
    height: 60px;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}
.pay-jdL {
    width: 100px;
    text-align: center;
    float: left;
}
.pay-jdL i {
    background: url(../img/pay-icon.png) no-repeat -71px 0;
    display: inline-block;
    width: 32px;
    height: 32px;
}
body{
	width: 100%;
	background-color: #e5e5e5;
}
.pay-jdL p {
    color: #47c88a;
    font-size: 16px;
}
.pay-jd {
    width: 400px;
    height: 4px;
    background: #e5e5e5;
    /* float: left; */
    position: absolute;
    top: 35px;
    left: 54px;
}
.pay-jd .pay-num {
    display: block;
    height: 4px;
    background: #47c88a;
    width: 50%;
}
.pay-jdL i {
    background: url(../img/pay-icon.png) no-repeat -71px 0;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.pay-control .pay-jdR p {
    color: #47c88a;
}
.pay-jdL p {
    color: #47c88a;
    font-size: 16px;
}
.pay-control .pay-jd .pay-num {
    width: 100%;
}
.pay-jdR {
    float: right;
}
.pay-fp {
    width: 1200px;
    margin: 0 auto;
}
.pay-fpOne{
	width: 100%;
	/* height: 300px; */
	box-sizing: border-box;
	padding: 40px 60px;
	margin-top: 20px;
	background: #fff;
}
.pay-fpL {
    float: left;
    width: 65px;
    height: 70px;
    background: url(../img/pay-icon.png) no-repeat 0 -72px;
    display: block;
    margin-right: 40px;
}
.paySucc .pay-fpL {
    background-position: 0 0;
    width: 70px;
    height: 70px;
}
.pay-fpR {
    width: 970px;
	display: inline-block;
}
.pay-sl {
	display: inline-block;
}
.pay-sl-ts span{
	color: #47C88A;
}
.pay-sr {
    float: right;
   /* font-size: 14px; */
}
/* .pay-sr-money label{
	margin-left: 15px;
} */

.pay-ul{
	width: 100%;
	display: none;
	border-top: 1px solid lightgrey;
}

/* 
// */
.pay-order-xq {
    color: #47c88a;
    text-align: right;
    cursor: pointer;
	margin-top: 18px;
}
.pay-order-xq .pay-next {
    background-position: -106px -2px;
}
.pay-order-xq i {
    width: 11px;
    height: 7px;
    background: url(../img/pay-icon.png) no-repeat -106px -9px;
    display: inline-block;
   margin-left: 5px;
}
li{
	list-style: none;
}
.pay-orderCon{
	background-color: white;
	height: 400px;
	margin-top: 20px;
    padding: 40px 60px 60px 60px;
	
}
/* 选择支付方式 */
.pay-order-fs {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
}
.pay-module .tit {
    font-size: 16px;
    color: #333;
}
/* 支付平台 */
.pay-terrace li {
    background: url(../img/pay-bank.jpg) no-repeat;
    display: inline-block;
    width: 160px;
    height: 56px;
	margin-left: 10px;
}
.pay-hk {
    border: 1px solid #ddd;
    height: 150px;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}
.pay-hk-l {
    float: left;
    width: 200px;
    text-align: center;
    line-height: 140px;
	
}
.pay-hk-l i {
    width: 142px;
    height: 35px;
    background: url(../img/pay-icon.png) no-repeat 0 -189px;
    display: inline-block;
}
.pay-hk-r {
    float: left;
}
.pay-color {
    color: #47c88a;
}
.pay-hk-r p{
	font-size: 15px;
	line-height: 10px;
	display: block;
	margin-top: 20px;
}
